*{
    padding: 0;
    margin: 0;
    color:  var(--cor-segundaria);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 2.05vh;
    line-height: 3vh;
}

:root {
    --cor-principal: #296674;
    --cor-segundaria: #fff;
    --cor-terciaria: #E7E7E7;
}

/*Menu*/


nav, .grupo {
    display: flex;
    align-items: center; 
    list-style:none;
    background-color: var(--cor-principal);
    height: 10vh;
}

.logo {
    height: 8vh;
    padding: 0 5vh 0 13vh;
}

nav h1 {
    width: 3vh;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 2.7vh;
    margin: 0 10vh 0 0;
}

.retanguloMenu{
    background-color: var(--cor-segundaria);
    height: 8vh;
    width: 0.5vh;
    margin: 0 10vh 0 5vh;
} 

.grupo{
    margin: 0 10vh 0 0;
}

nav li {
    margin: 0 2vh;
}

.divBusca{
    background-color: var(--cor-terciaria);
    border: solid 1px;
    border-radius: 1.5vh;
    width: 40vh;
    height: 3vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
  
.txtBusca{
    background-color:transparent;
    border:none;
    height: 3.3vh;
    width: 35vh;
}

.btnBusca{
    margin: 0 3vh 0 2vh;
}

/*Rodape*/

footer {
    background: #296674;
    height: 28.72vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}


.logoFSLab {
    height: 13.98vh;
    width: 20.08vh;
    margin: 15%;
}

.logoIFRO {
    height:  20.30vh;
    width: 11.27vh;
    margin: 15%;
}

.teste{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-content: stretch;
    margin-right: -10%;
    width: 62.79vh;
}

footer p, h1 {
    font-weight: 500;
    font-size: 1.78vh;
    line-height: 2.23vh;
}

footer h1 {
    font-weight: 600;
}

main{
    min-height: 1000px;
    margin-top: 176px;
    margin-left: 140px;
}

.ret{
    background: #296674;
    width: 101px;
    height: 33px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2{
margin-top: 39px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: black;
white-space: nowrap;
}

.linha{
    display: inline-block;
        background-color: #296674;
        height: 7px;
        width: 1148px;
        margin-bottom: 10px;
}

.imagem_meio{
margin-top: 20px;
margin-bottom:149px;
height: 428px;
width: 1079px;
left: 153px;
top: 793px;
border-radius: 0px;

}
.texto1{
    color: black;
    width: 1148.45px;
    margin-bottom: 20px;
}